a {
    color: whitesmoke;
    text-decoration: none;
}

* {
    font-family: sans-serif;
}

button {
    font-size: large;
    background-color: rgb(10, 10, 10);
    border: 2px solid gray;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

input[type="text"] {
}

input[type="password"] {
}

input {
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(0, 0, 200);
    color: white;
    font-size: large;
    border-radius: 10px;
}

input:focus {
    outline: 2px solid rgb(100, 100, 100);
}

.Header {
    text-align: left;
    font-size: 50px;
    vertical-align: middle;
    font-weight: 900;
}
.MainText {
    text-align: left;
    font-size: 36px;
    font-family: Helvetica;
}

.GameBox {
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(20, 20, 20), rgb(0, 0, 0));
    border: 2px solid rgb(50, 50, 50);
    margin: 8px 8px 8px 8px;
}

.Center {
    position: relative;
    top: 20%;
}
.Right {
    position: absolute;
    right: 0px;
}

.BottomTable td{
    width: 100px;
    font-size: large;
}

@keyframes gwgw {
    from {
        transform: scale(0.97, 0.97);
        background-color: white;
    }
    to {
        transform: scale(1.03, 1.03);
        background-color: white;
    }
}

.Guwanguwan:hover {
    animation: gwgw 0.4s ease-in-out 0s infinite alternate both;
}

@keyframes byby {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.03, 1.03);
    }
}

.GameBox_Portable {
    margin-top: 16px;
    margin-left: 16px;
    animation: byby 1s ease-in-out 0s infinite alternate both;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    width: 360px;
    height: 180px;
    font-size: 15px;
    cursor:pointer;
}

@keyframes hwhov {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}

.HoverWhite:hover {
    animation: hwhov 0.4s linear 0s 1 alternate both;
}